@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

@tailwind base;
@tailwind components;

@tailwind utilities;


html,
body {
  color: #2a2a2a;
  font-size: 18px;
  line-height: 1.45;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  margin: 0;
}

code {
  background: lightgrey;
  border-radius: 0.125rem;
  font-weight: bold;
  padding: 0.125rem 0.25rem;
}
.layout {
  @apply mt-0;
}
.view {
  margin: 2rem auto 3rem;
}

.btn-outline {
  @apply inline-flex items-center text-lightBlue-600 bg-transparent border-2 border-solid border-lightBlue-600 hover:border-lightBlue-700 hover:bg-lightBlue-700 hover:text-gray-100 active:bg-lightBlue-700 font-bold text-sm leading-none px-3 py-2 rounded-lg outline-none focus:outline-none transition duration-150 ease-in-out;
}

.btn {
  @apply inline-flex items-center text-gray-100 bg-transparent border-2 border-solid border-ocean-600 hover:border-ocean-500 bg-ocean-500  hover:bg-ocean-600  active:bg-ocean-600 font-bold text-sm leading-none px-3 py-2 rounded-lg outline-none focus:outline-none transition duration-150 ease-in-out;
}

.form {
  margin: 1rem 0;
}

.form__label {
  display: block;
  font-size: 67.5%;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

.form__label + .form__label {
  margin-top: 0.5rem;
}

.form__input {
  display: block;
  font-size: 1rem;
  padding: 0.25rem;
}

.form__button {
  background-color: rebeccapurple;
  border: 0;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0.5rem;
  padding: 0.25rem 1rem;
  transition: background-color 150ms linear;
}

.form__button:hover {
  cursor: pointer;
}

.form__button:hover,
.form__button:active,
.form__button:focus {
  background-color: color(rebeccapurple lightness(-20%));
}
